@charset "utf-8";

@import "_reset";

// ここから記述
//_______________________________________________________________

* {
	font-size:16px; /* 基準のフォントサイズを16pxとする */
	-webkit-text-size-adjust: 100%; /* ブラウザ側での自動調整をなしにする */
	box-sizing: border-box;
}

@font-face {
	font-family: 'MyFont';
	src: url('../font/kaisho.ttf');
}

body {
	 font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

.section__base {
	margin-bottom: 50px;
}

.header__main {
	text-align: center;
	margin-bottom: 40px;
	h2 {
		font-size: 2.1rem;
		line-height: 1.7em;
		strong {
			font-size: 2.5rem;
		}
	}
	h3 {
		font-size: 2rem;
		line-height: 1.6em;
		font-weight: 900;
	}
	h4 {
		font-size: 1.4rem;
		line-height: 1.7em;
	}
}

.header__border-double {
	text-align: center;
	color: #497ef8;
	border-top: 1px solid #497ef8;
	border-bottom: 1px solid #497ef8;
	width: 700px;
	margin: 0 auto 40px;
	h2 {
		font-size: 1.6rem;
		padding: 10px;
		line-height: 1.7em;
		font-weight: 300;
	}
}

.header__arrow {
	width: 700px;
	margin: 0 auto 40px;
	h3 {
		i {
			vertical-align: -webkit-baseline-middle;
			padding-right: 10px;
		}
		font-size: 1.3rem;
		line-height: 1.7em;
		font-weight: 300;
	}
}

.header__normal {
	width: 700px;
	margin: 0 auto 40px;
	h3 {
		font-size: 1.3rem;
		line-height: 1.4em;
		font-weight: 400;
	}
}

.header__blue {
	text-align: center;
	margin-bottom: 30px;
	color: #5185dd;
	h3 {
		font-size: 1.5rem;
		line-height: 1.4em;
		font-weight: 200;
	}
}

.item__txt {
	font-size: 1.2rem;
	font-weight: 200;
	width: 700px;
	margin: 0 auto;
	p {
		margin-bottom: 30px;
		line-height: 1.8em;
		.empha {
			color: #fb2e2e;
			font-weight: 500;
		}

	}
	.small {
		margin-bottom: 30px;
		font-size: 0.9rem;
		line-height: 1.2em;
	}
}

.item__txt__handWriting {
	font-family:'MyFont';
	width: 700px;
	margin: 0 auto;
	p {
		margin-bottom: 30px;
		line-height: 1.8em;
		display: inline;
		padding-bottom: 5px;
		font-size: 1.3rem;
		line-height: 36px;
		background: url(../img/bg-note03.png) bottom;
	}
}

.item__txt-center {
	font-size: 1.0rem;
	line-height: 1.5em;
	font-weight: 200;
	margin-bottom: 30px;
	text-align: center;
}

.item__border {
	border: 2px solid #ff6f00;
	border-radius: 3px;
	padding: 20px;
	width: 700px;
	margin: 0 auto 30px;
	li {
		i {
			vertical-align: sub;
			padding-right: 10px;
		}
		padding-left: 160px;
		list-style: none;
		margin-bottom: 20px;
		line-height: 1.8em;
		font-size: 1rem;
		font-weight: 200;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.item__img {
	text-align: center;
	margin-bottom: 30px;
}

.reason__wrap {
	margin-bottom: 50px;
	.item__txt{
		padding-left: 90px;
	}
}

.pale-blue__bg {
	background: #dcfdff;
	padding: 30px 0;
}

.bounus__contents {
	border: 2px solid #2dc2cb;
	border-radius: 3px;
	padding: 20px;
	width: 700px;
	margin: 30px auto;
	background: #fff;
	.bounus__header {
		padding: 20px;
		background: rgba(0, 0, 0, .6);
		color: #fff;
		margin: -112px -20px 0 -20px;
		position: relative;
		text-align: right;
		font-size: 1.6rem;
		line-height: 1.4em;
		font-weight: 400;

	}
	.item__img-01 {
		text-align: left;
		padding: 20px 0 0 20px;
	}
	.item__txt {
		font-size: 1.0rem;
	}
	.item__centerTxt {
		margin: 30px 0;
		font-size: 1.4rem;
		line-height: 1.8em;
		em {
			color: #ff2c2c;
			font-style: normal;
		}
		strong {
			font-size: 1.7rem;
			color: #ff2c2c;
		}
	}
}

.base__contents {
	border-radius: 10px;
	padding: 30px 20px;
	width: 950px;
	margin: 30px auto;
	background: #fff;
	overflow: hidden;
	.item_left {
		float: left;
		width: 60%;
		.item__txt {
			width: 80%;
			strong {
				font-size: 1.8rem;
				line-height: 1.8em;
				font-weight: 200;
			}
		}
	}
	.item_right {
		float: right;
		width: 40%;
		img {
			margin-bottom: 30px;
		}
		.item__txt {
			width: 100%;
			font-size: 0.8rem;
			p {
				strong {
					font-size: 1.1rem;
					line-height: 1.8em;
					font-weight: 700;
				}
			}
		}
	}
}

.item__centerTxt {
	text-align: center;
	line-height: 1.7em;
}

.blue__bg {
	background: #4fb9fc;
	padding: 20px;
	.bounus__contents {
		border: none;
		border-radius: 10px;
		padding: 20px;
		width: 900px;
		margin: 30px auto 40px;
		background: #fff;
		.header__border-double {
			margin-top: 30px;
		}
	}
}

//utility {
.mgb50 {
	margin-bottom: 50px;
}

.mgb20 {
	margin-bottom: 20px;
}

	// table-1 

.table__normal {
	width: 950px;
	margin: 30px auto;
	table {
		width: 100%;
	}
	table , td, th {
		border: 1px solid #595959;
		border-collapse: collapse;
	}
	th {
		padding: 20px;
		background: #7ecff6;
		&:nth-of-type(1) {
			width: 50%;
		}
		&:nth-of-type(2) {
			width: 25%;
		}
		&:nth-of-type(3) {
			width: 25%;
		}
	}
	td {
		text-align: center;
		vertical-align: middle;
		padding: 20px;
		background: #FFF;
		&:nth-of-type(1) {
			text-align: left;
		}
		.txt-small {
			display: block;
			font-size: 0.8rem;
			padding-top: 10px;
		}
		.txt_line {
			text-decoration: line-through;
			strong {
				font-weight: 600;
				font-size: 1.2rem;
			}
		}
	}
	.table_empha {
		font-size: 1.7rem;
		font-weight: 500;
		color: #ff0000;
		position: relative;
		span {
			font-size: 0.9rem;
			display: block;
			padding-top: 5px;
		}
		.baloon {
			background: #ff0000;
			padding: 10px;
			color: #fff;
			position: absolute;
			top: -37px;
			border-radius: 8px;
			left: 50px;
			&:after {
				content: "";
				position: absolute;
				bottom: -6px; left: 50%;
				margin-left: -6px;
				display: block;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 6px 6px 0 6px;
				border-color: #ff0000 transparent transparent transparent;
			}
		}
	}

}

.item__info {
	border: 1px solid #6f6f6f;
	border-radius: 3px;
	padding: 20px;
	width: 50%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	li {
		padding-bottom: 15px;
		&:first-child {
			background: #6f6f6f;
			margin-bottom: 10px;
			padding: 5px;
			color: #fff;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}

.img_security_wrap {
	text-align: center;
	margin-top: -40px;
	width: 100%;
}

.cvn__table {
	width: 100%;
	table , td, th {
		border: 1px solid #595959;
		border-collapse: collapse;
	}
	th {
		padding: 10px;
		background: #535353;
		color: #fff;
	}
	td {
		vertical-align: middle;
		padding: 10px;
		background: #FFF;
		font-size: 1rem;
		.txt-small {
			display: block;
			font-size: 0.9rem;
			font-weight: 500;
			padding-top: 10px;
			color: #ff0000;
		}
		.txt_line {
			text-decoration: line-through;
		}
		.txt-ammout {
			color: #ff0000;
			font-size: 1.1rem;
			font-weight: 500;
			display: block;
			text-align: right;
			padding: 10px 0;
		}
	}
}

.btn__cvn {
	background: #78cd53;
	font-size: 1.6rem;
	font-weight: 400;
	color: #fff;
	padding: 20px;
	display: block;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 5px 0px 0px #59ad34;
	text-decoration: none;
	margin-bottom: 20px;
}

.q-and-a {
	padding: 0 60px;
	dt {
		margin-bottom: 30px;
		i {
			vertical-align: middle;
			display: inline-block;
			padding-right: 20px;
		}
		font-size: 1.2rem;
		font-weight: 500;
	}
	dd {
		i {
			vertical-align: top;
			display: inline-block;
			padding-right: 20px;
		}
		.item__txt {
			display: inline-block;
		}
		
	}
}

footer {
	background: #cccccc;
	padding: 20px 0;
	.footer_inner {
		text-align: center;
		width: 950px;
		margin: 0 auto;
		p {
			display: inline-block;
			padding-right: 50px;
		}
	}
	.copyright {
			text-align: center;
			padding-top: 30px;
		}
}

/* pc */
@media screen and (min-width: 961px) {
	.header {
		width: 950px;
		margin: 0 auto;
		padding: 20px 0;
	}

	.main {
		width: 950px;
		margin: 0 auto;
	}


	.kyevisual {
		background: #3d70f2;
		margin-bottom: 30px;
		.kyevisual__inner {
			width: 950px;
			margin: 0 auto;
			text-align: center;
			padding: 40px;
			img {
				text-align: center;
			}
		}
	}
}


/* smartPhone */
@media screen and (max-width: 800px) {
	.header {
		width: 100%;
		margin: 0 auto;
		padding: 10px;
		img {
			width: 90px;
		}
	}
	.main {
		width: 100%;
		margin: 0 auto;
	}


	.kyevisual {
		background: #3d70f2;
		margin-bottom: 20px;
		.kyevisual__inner {
			margin: 0 auto;
			text-align: center;
			padding: 20px;
			img {
				text-align: center;
				width: 100%;
			}
		}
	}

	.header__main {
		text-align: center;
		margin-bottom: 20px;
		h2 {
			font-size: 1.3rem;
			line-height: 1.5em;
			strong {
				font-size: 1.8rem;
			}
		}
		h3 {
			font-size: 1.2rem;
			line-height: 1.4em;

		}
		h4 {
			font-size: 1.0rem;
			line-height: 1.2em;
		}
	}

	.section__base {
	    padding: 10px;
	}
	.item__txt {
		font-size: 0.8rem;
		width: 100%;
		p {
			margin-bottom: 10px;
		}
	}
	.item__img {
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	.item__border {
		width: 100%;
		padding: 10px;
		li {
			padding-left: 0;
			margin-bottom: 10px;
			
		}
	}
	.section__base {
		margin-bottom: 20px;
	}
	.header__border-double {
		width: 100%;
		h2 {
			font-size: 1.1rem;
		}
	}
	.header__arrow {
		width: 100%;
		margin-bottom: 20px;
		h3 {
			font-size: 1.0rem;
			img {
				width: 20px;
			}
		}
	}
	.reason__wrap {
		margin-bottom: 20px;
		.item__txt {
			padding-left: 20px;
		}
	}
	.header__normal {
		width: 100%;
		margin-bottom: 10px;
		h3 {
			font-size: 1.0rem;
		}
	}
	.pale-blue__bg {
		margin: -10px;
		padding: 10px;
		.table__normal {
			width: 100%;
			th {
				padding: 10px;
				vertical-align: middle;
			}
			td {
				padding: 10px;

			}
			.table_empha {
				font-size: 1.2rem;
				.baloon {
					padding: 5px;
					top: -57px;
					left: -7px;
				}
			}
		}
	}
	.base__contents {
		width: 100%;
		padding: 20px;
		.item__img {
			img {
				width: 40%;
			}
		}
		.header__blue {
			h3 {
				font-size: 1.2rem;
			}
		}
		.item_left,
		.item_right {
			float: none;
			width: 100%;
		}
		.item_left {
			margin-bottom: 20px;
			.item__txt {
				width: 90%;
			}
		}
		.item_right {
			img {
				text-align: center;
				margin-bottom: 20px;
				display: block;
				margin: 0 auto;
			}
		}
	}
	.bounus__contents {
		width: 100%;
		.item__img-01 {
			padding: 0;
			img {
				width: 100%;
			}
		}
		.bounus__header {
			font-size: 1.0rem;
			margin-top: -86px;
		}
		.item__centerTxt {
			font-size: 1.0rem;
			strong {
				font-size: 1.2rem;
			}
		}
	}
	.blue__bg {
		margin: -10px;
		padding: 10px;
		.bounus__contents {
			width: 100%;
			.item__img {
				img {
					width: 60%;
				}
			}
		}
	}
	.img_security_wrap {
		margin-top: -20px;
		img {
			width: 92px;
			height: 85px;
		}
	}
	.q-and-a {
		padding: 0;
		dt,
		dd {
			i {
				display: block;
				text-align: center;
				margin-bottom: 10px;
			}
			img {
				width: 30px;
			}
		}
	}
	footer {
		.footer_inner {
			width: 100%;
			p {
				padding-bottom: 10px;
				padding-right: 0;
				display: block;
			}
		}
		.copyright {
			padding: 10px;
			word-break: break-all;
		}	
	}
	.item__txt__handWriting {
		width: 100%;
		p {
			font-size: 1.0rem;
		}
	}
	.item__info {
		width: 100%;
	}

}
